@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat';
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,9,121,1) 22%, rgba(12,14,124,1) 24%, rgba(0,212,255,1) 100%);
}

.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    width: fit-content;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color: white;
    background: rgba(rgba(0, 0, 0, 0.432));
}

.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media screen and (max-width: 768px) {
    #bar1, #bar2{
        display: none;
    }
    .digitalClock{
        text-align: center;
        width: 100%;
    }
    .digitalClock h1{
        display: block;
    }
}

@media screen and (max-width:480px) {
    .digitalClock h1{
        font-size: 4rem;
    }
}